################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/DevTrack/.vs/*
/DevTrack/.idea/*
/DevTrack/Devskill.DevTrack.Core/bin/Debug/netcoreapp3.1
/DevTrack/Devskill.DevTrack.Core/obj
/DevTrack/Devskill.DevTrack.DataSyncWorkerService/bin/Debug/netcoreapp3.1
/DevTrack/Devskill.DevTrack.DataSyncWorkerService/Logs/*.log
/DevTrack/Devskill.DevTrack.DataSyncWorkerService/obj
/DevTrack/Devskill.DevTrack.Infrastructure/bin/Debug/netcoreapp3.1
/DevTrack/Devskill.DevTrack.Infrastructure/lib
/DevTrack/Devskill.DevTrack.Infrastructure/obj
/DevTrack/Devskill.DevTrack.Infrastructure.Test/bin/Debug/netcoreapp3.1
/DevTrack/Devskill.DevTrack.Infrastructure.Test/obj
/DevTrack/Devskill.DevTrack.UserActivityWorker/bin/Debug/netcoreapp3.1
/DevTrack/Devskill.DevTrack.UserActivityWorker/capture-screen/*.jpg
/DevTrack/Devskill.DevTrack.UserActivityWorker/capture-screen/*.jpeg
/DevTrack/Devskill.DevTrack.UserActivityWorker/capture-screen/*.png
/DevTrack/Devskill.DevTrack.UserActivityWorker/Logs/*.log
/DevTrack/Devskill.DevTrack.UserActivityWorker/obj
/DevTrack/Devskill.DevTrack.UserActivityWorker/WebCamImages/*.jpg
/DevTrack/Devskill.DevTrack.UserActivityWorker/WebCamImages/*.jpeg
/DevTrack/Devskill.DevTrack.UserActivityWorker/WebCamImages/*.png
/WebApi/.vs/*
/WebApi/.idea/*
/WebApi/DevSkill.DevTrack.Core/bin/Debug/netcoreapp3.1
/WebApi/DevSkill.DevTrack.Core/obj
/WebApi/DevSkill.DevTrack.Infrastructure/bin/Debug/netcoreapp3.1
/WebApi/DevSkill.DevTrack.Infrastructure/obj
/WebApi/DevSkill.DevTrack.Infrastructure.Test/bin/Debug/netcoreapp3.1
/WebApi/DevSkill.DevTrack.Infrastructure.Test/obj
/WebApi/DevSkill.DevTrack.Membership/bin/Debug/netcoreapp3.1
/WebApi/DevSkill.DevTrack.Membership/obj
/WebApi/DevSkill.DevTrack.WebApi/bin/Debug/netcoreapp3.1
/WebApi/DevSkill.DevTrack.WebApi/Logs/*.log
/WebApi/DevSkill.DevTrack.WebApi/obj/Debug/netcoreapp3.1
/WebApi/DevSkill.DevTrack.WebApi/obj
/WebApi/DevSkill.DevTrack.WebApi/wwwroot/CaptureScreen/*.jpg
/WebApi/DevSkill.DevTrack.WebApi/wwwroot/CaptureScreen/*.jpeg
/WebApi/DevSkill.DevTrack.WebApi/wwwroot/CaptureScreen/*.png
/WebApi/DevSkill.DevTrack.WebApi/wwwroot/WebCamImages/*.jpg
/WebApi/DevSkill.DevTrack.WebApi/wwwroot/WebCamImages/*.jpeg
/WebApi/DevSkill.DevTrack.WebApi/wwwroot/WebCamImages/*.png
/WebApi/DevSkill.DevTrack.WorkerService/bin/Debug/netcoreapp3.1
/WebApi/DevSkill.DevTrack.WorkerService/Logs/*.log
/WebApi/DevSkill.DevTrack.WorkerService/obj

# compiled output
/user-app/dist
/user-app/tmp
/user-app/out-tsc
# Only exists if Bazel was run
/user-app/bazel-out

# dependencies
/user-app/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/user-app/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/user-app/.sass-cache
/user-app/connect.lock
/user-app/coverage
/user-app/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/user-app/typings

**/wwwroot/upload/*
**/bin/
**/debug/
**/obj/
**/.vs/
**/TestResults/
**/Logs/*.log
**/*.user
**/*.dbmdl
**/*.jfm