@page "/"

@using DevSkill.DevTrack.ClientTool.Helpers

@inject IElectronWindowHelper _electronWindowHelper

<div class="frame-s1-wrapper">
    <div class="frame-s1">
        <div class="exit-btn" @onclick="ExitAppAsync"><i class="fas fa-times-circle"></i></div>
        <div class="screen">
            <div class="card">
                <div class="card-body">
                    <div class="logo-holder mb-4">
                        <img src="/assets/images/logo.jfif" alt="Dev Skill Logo">
                    </div>
                    <EditForm Model="@_model" OnSubmit="OnValidSubmitAsync" style="-webkit-app-region: no-drag !important;">
                        <DataAnnotationsValidator />
                        <div class="form-group mb-3">
                            <InputText @bind-Value="_model.Email" class="form-control" placeholder="Email" />
                            <ValidationMessage For="@(() => _model.Email)" />
                        </div>
                        <div class="form-group mb-3">
                            <InputText @bind-Value="_model.Password" type="password" class="form-control" placeholder="Password" />
                            <ValidationMessage For="@(() => _model.Password)" />
                        </div>
                        <div class="form-group text-left">
                            <div class="d-inline">
                                <InputCheckbox @bind-Value="_model.RememberMe" id="remember" />
                                <label class="text-muted" for="remember">Remember Me</label>
                            </div>
                        </div>
                        <button class="btn btn-sm btn-dark mb-4" type="submit">Login</button>
                    </EditForm>
                    <p class="m-0 text-muted">© Copyright<a href="/"> Dev Skill</a></p>
                </div>
            </div>
        </div>
    </div>
</div>